<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Cambiar contraseña</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="hideEditPasswordModal()">Cancelar</button>
      </div>
    </ion-header-bar>
    <ion-content>
     <div class="list">
        <label class="item item-input">
          <span class="input-label">Contraseña actual</span>
          <input type="password" ng-model="editPasswordData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Nueva contraseña</span>
          <input type="password" ng-model="editPasswordData.newPassword">
        </label>
        <label class="item item-input">
          <span class="input-label">Nueva contraseña</span>
          <input type="password" ng-model="editPasswordData.repeatNewPassword">
        </label>
      </div>
      <button class="button button-full button-energized" ng-click="updatePassword()">Guardar</button>
    </ion-content>
</ion-modal-view>