<ion-view view-title="Ayuda">
  <ion-content style="padding:40px;">
  	<p style="text-align:center;font-size:40px;color:#1D8DA4"><i class="icon ion-information-circled"></i></p>
    <p>Mesas AVE App es una aplicación móvil que pone en contacto a personas que desean viajar en el mismo tren para realizar una compra conjunta de una mesa de 4 plazas y así ahorrar en el precio del billete, ya que Renfe establece unas tarifas reducidas para grupos de viajeros de 4 personas.</p>
    <br>
    <p>Para cualquier duda, puedes ponerte en contacto con nosotros a través de <strong>info@mesasave.com</strong></p>
  </ion-content>
</ion-view>
